# X32 is currently supported. SQ support is in progress.
TYPE=X32

# Path to the cue tracking spreadsheet, relative to this folder or absolute.
FILE_NAME="Parade Sound.xlsx"

# First spreadsheet row that contains channel data.
ROW_START=2

# Cell marker meaning the channel should be unmuted for that cue.
IDENTIFYING_CHARACTER="X"

# SNIPPET writes X32 .snp/.shw files. NETWORK creates QLab network cues.
METHOD=SNIPPET

# If enabled, DCA_IDENTIFIER marks channels assigned to the ensemble DCA group.
USE_DCA=true
DCA_IDENTIFIER="/"

# QLab network patch number used by METHOD=NETWORK.
NETWORK_PATCH=1
